$gold-color: #f3ba2f;
$black-primary: #111;

@layer base {
  .gold {
    color: $gold-color;
  }

  .background-gold {
    background-color: $gold-color;
  }

  .bd-gold {
    border-color: $gold-color;
  }

  .bg-black-primary {
    background-color: $black-primary;
  }
}

.text-gold {
  @apply gold;
}

.bg-gold {
  @apply background-gold;
}

.border-gold {
  @apply bd-gold;
}

.bg-primary {
  @apply bg-black-primary;
}
